#container {
  /* text-decoration: none; */
  width: 100%;
  display: flex;
  height: 50px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  justify-content: space-between;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
#container > div:nth-child(1) {
  display: flex;
  width: 60%;
  justify-content: space-between;
}
#container > div:nth-child(1) > a {
  text-decoration: none;
  color: black;
}
#container > div:nth-child(1) > a:hover {
  background-color: rgb(156, 51, 83);
  /* color: white; */
}
#container > div:nth-child(1) > a > h3:hover {
  color: white;
}
#container > div:nth-child(1) p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
  color: white;
}
.toggle {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 22px;
  background-color: rgb(156, 51, 83);
  border-radius: 30px;
  border: 2px solid gray;
  margin-top: 18px;
}

/* After slide changes */
.toggle:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: white;
  top: 0;
  left: 5px;
  transition: all 0.5s;
}
.checkbox:checked + .toggle::after {
  left: 49px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
  background-color: rgb(156, 51, 83);
}

/* Checkbox vanished */
.checkbox {
  display: none;
}

#container > div:nth-child(2) {
  width: 20%;
  /* text-align: center; */
  margin: auto;
  /* background-color: rgb(156, 51, 83); */
}
#container > div:nth-child(2) > div {
  display: flex;
  width: 60%;
  height: 30px;
  margin-top: 9px;
  padding: 2px 15px 2px 15px;
  justify-content: center;
  /* margin: auto; */
  align-items: center;
  border-radius: 50px;
  background-color: rgb(156, 51, 83);
}
#container > div:nth-child(2) > div > a {
  text-decoration: none;
  color: white;
}

#container > div:nth-child(3) {
  display: flex;
  width: 10%;
}
#container > img {
  width: 100%;
  height: 100%;
}

#container > div:nth-child(3) > img {
  margin-top: 10px;
  width: 40%;
  height: 80%;
}
